# Version Control & Config
.git
.gitignore
.dockerignore

# Environment & Credentials (SANGAT PENTING: Jangan dimasukkan ke image!)
.env
.env.*
env*
env copy
cloudflare/*.json
*.pem

# Arsip & Database Dumps
*.tar
*.zip
*.sql

# Dependencies & Build artifacts
node_modules
tests
cypress
cypress.config.js
phpunit.xml.dist
docs
referensi

# Documentation & Logs
ARCHIVE.md
CHANGELOG.md
CONTRIBUTING.md
TODO.md
README_DEPENDENCY_GUIDES.md
TESTING_GUIDE.md

# Dynamic runtime writable folders
writable/cache/*
!writable/cache/index.html
writable/logs/*
!writable/logs/index.html
writable/session/*
!writable/session/index.html
writable/debugbar/*
!writable/debugbar/index.html
writable/uploads/*
!writable/uploads/index.html
